@import 'reset';
@import 'fonts';
@import 'colors';

//Plugins
@import './plugins/select-boxes.scss';
@import './plugins/custom_select.scss';

//Parts
@import './parts/header.scss';
@import './parts/slider.scss';
@import './parts/filter.scss';

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    width: 100%;
    height: 100%;
}